@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap');

* {
    margin: 0;
}



.header a {
    text-decoration: none;
    color: #fff;
    display: inline-block;

}

.header h1 {

    font-family: 'Share Tech Mono', monospace;
    font-size: 80pt;
    font-weight: 500;
    padding-top: 20px;

}


.header h2 {
    font-family: 'Share Tech Mono', monospace;
    font-size: 25pt;
    font-weight: 400;
}

.header h3 {
    color: #FFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    font-weight: 400;
    margin-top: 5px;
    padding-bottom: 15px;
}

section {
    background-color: #321d71;
    filter: drop-shadow(0px 8px 4px grey);
    text-align: center;
    width: 100%;
}

.nav ul {

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

@media screen and (max-width: 600px) {
    .nav ul {
        flex-direction: column;
        align-items: center;
    }
}

.nav a {
    margin-top: 5px;
    color: #FFF;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Share Tech Mono', monospace;
    transition: transform .2s;
}

.nav a:hover {
    color: yellow;
    transform: scale(1.5);
}



.nav a.active {
    color: yellow;
}

.intro {
    margin-top: 20px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    border: solid;
    border-width: 5px;
    border-image-slice: 1;
    border-image-source: linear-gradient(60deg, #a82886, rgb(62, 99, 234));

}

.intro p {
    padding: 20px;
    color: #321d71;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 25px;
}

.languages {
    text-align: center;
    margin-top: 50px;
}

.languages a {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFF;
    border-radius: 25px;
    padding: 10px;
    text-decoration: none;
    background-color: #321d71;
    margin-left: 2px;
    margin-right: 25px;
}

.languages a.active {
    background-color: #1e1143;
    color: yellow;
}